.horizontal-nav .left-sidebar {
  position: relative;
  width: 100%;
  height: auto;
  padding-top: 0px;
  background: transparent !important;
  box-shadow: unset;
}

.topbar .top-navbar {
  background: #7460ee;
}

.container-fluid.fluid-custom {
  padding: 5px;
  display: inline-block;
  width: 100%;
}

.horizontal-nav .sidebar-nav #sidebarnav>li>ul {
  position: absolute;
  left: 0px;
  width: 220px;
  max-height: 350px;
  overflow-y: auto;
  padding-bottom: 10px;
  z-index: 1001;
  background: #edf0f5;
  display: none;
  padding-left: 1px;
}

.label.label-warning.position-relative {
  margin-right: 15px;
  position: relative;
  display: inline-block;
}

.label.label-warning.position-relative a.remove-item {
  position: absolute;
  top: -5px;
  right: -10px;
  color: #333;
  font-size: 15px;
}

.line-text {
  color: red;
  white-space: pre-line;
}

.mar-20 {
  margin: 20px 0;
}

.card-body {
  .table {
    i {
      padding-left: 5px;
    }
  }
}

.messaging {
  padding: 0 0 50px 0;

  img {
    max-width: 100%;
  }

  .inbox_people {
    background: #f8f8f8 none repeat scroll 0 0;
    float: left;
    overflow: hidden;
    width: 40%;
    border-right: 1px solid #c4c4c4;
  }

  .inbox_msg {
    border: 1px solid #c4c4c4;
    clear: both;
    overflow: hidden;
  }

  .top_spac {
    margin: 20px 0 0;
  }

  .recent_heading {
    float: left;
    width: 40%;
  }

  .srch_bar {
    display: inline-block;
    text-align: right;
    width: 60%;
    padding: 0;
  }

  .headind_srch {
    padding: 10px 29px 10px 20px;
    overflow: hidden;
    border-bottom: 1px solid #c4c4c4;
  }

  .recent_heading h4 {
    color: #05728f;
    font-size: 21px;
    margin: auto;
  }

  .srch_bar {
    input {
      border: 1px solid #cdcdcd;
      border-width: 0 0 1px 0;
      width: 80%;
      padding: 2px 0 4px 6px;
      background: none;
    }

    .input-group-addon {
      button {
        background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
        border: medium none;
        padding: 0;
        color: #707070;
        font-size: 18px;
      }

      margin: 0 0 0 -27px;
    }
  }

  .chat_ib {
    h5 {
      font-size: 15px;
      color: #464646;
      margin: 0 0 8px 0;

      span {
        font-size: 13px;
        float: right;
      }
    }

    p {
      font-size: 14px;
      color: #989898;
      margin: auto;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .chat_img {
    float: left;
    width: 11%;
  }

  .chat_ib {
    float: left;
    padding: 0 0 0 15px;
    width: 88%;
  }

  .chat_people {
    overflow: hidden;
    clear: both;

    &:hover {
      cursor: pointer;
    }
  }

  .chat_list {
    border-bottom: 1px solid #c4c4c4;
    margin: 0;
    padding: 18px 16px 10px;
  }

  .inbox_chat {
    height: 550px;
    overflow-y: scroll;
  }

  .active_chat {
    background: #ebebeb;
  }

  .incoming_msg_img {
    display: inline-block;
    width: 6%;
  }

  .received_msg {
    display: inline-block;
    padding: 0 0 0 10px;
    vertical-align: top;
    width: 92%;
  }

  .received_withd_msg p {
    background: #ebebeb none repeat scroll 0 0;
    border-radius: 3px;
    color: #646464;
    font-size: 14px;
    margin: 0;
    padding: 5px 10px 5px 12px;
    width: 100%;
  }

  .time_date {
    color: #747474;
    display: block;
    font-size: 12px;
    margin: 8px 0 0;
  }

  .received_withd_msg {
    width: 57%;
  }

  .mesgs {
    float: left;
    padding: 30px 15px 0 25px;
    width: 60%;
  }

  .sent_msg p {
    background: #05728f none repeat scroll 0 0;
    border-radius: 3px;
    font-size: 14px;
    margin: 0;
    color: #fff;
    padding: 5px 10px 5px 12px;
    width: 100%;
  }

  .outgoing_msg {
    overflow: hidden;
    margin: 26px 0 26px;
  }

  .sent_msg {
    float: right;
    width: 46%;
  }

  .input_msg_write input {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    color: #4c4c4c;
    font-size: 15px;
    min-height: 48px;
    width: 100%;
  }

  .type_msg {
    border-top: 1px solid #c4c4c4;
    position: relative;
  }

  .msg_send_btn {
    background: #05728f none repeat scroll 0 0;
    border: medium none;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    font-size: 17px;
    height: 33px;
    position: absolute;
    right: 0;
    top: 11px;
    width: 33px;
  }

  .msg_history {
    height: 516px;
    overflow-y: auto;
  }
}

.socials-box {
  display: inline-block;
  width: 100%;

  .social-login {
    width: 50%;
    float: left;
    padding: 10px 15px;
  }

  .facebook button {
    background: #5e80fd;
    border: 1px solid #5e80fd;
  }

  .facebook:hover button {
    background: #fe980f;
    border: 1px solid #fe980f;
  }

  .google button {
    background: #da1919;
    border: 1px solid #da1919;
  }

  .google:hover button {
    background: #fe980f;
    border: 1px solid #fe980f;
  }
}

.button-socials {
  display: inline-block;
  width: 50%;
}

.register-box {
  width: 800px;
}

.flags-dropdown.dropdown-menu {
  z-index: 1000;
  height: 400px;
  overflow-y: scroll;

  .dropdown-item.flags {
    span {
      float: unset;
    }
  }
}

.d-flex.no-block {
  .align-self-center {
    align-self: unset !important;
  }
}

.inline-block {
  display: inline-block;
  width: 100%;
}

.text-highlight {
  font-size: 20px;
  margin-bottom: 15px;
  font-weight: 600;
}

.message-content {
  width: 100%;
  max-height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.table-row-h-82 {
  tr {
    height: 82px;
  }
}

.table-custom {
  tr {
    th {
      min-width: 120px;

      .input-date {
        width: 300px;

        span {
          padding: 8px 0;
        }

        .br-l {
          border-radius: 0.25rem 0 0 0.25rem;
        }

        .br-r {
          border-radius: 0 0.25rem 0.25rem 0;
        }
      }

      .button-custom {
        color: #fff;
      }
    }

    .min-w-40 {
      width: 40px;
      min-width: unset;
    }

    .min-w-180 {
      min-width: 180px;
    }

    .min-w-150 {
      min-width: 150px;
    }
  }
}

.required-text {
  color: red;
}

.option-row {
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
  &:last-child {
    border-bottom: none;
  }
}
.nav-top-cus.flex-column {
  flex-direction: unset!important;
  margin-bottom: 20px;
  a.nav-link {
    display: inline-block;
    margin-right: 15px;
    &:hover {
      color: #fff;
      background: #745af2;
    }
  }
}
.des-hover {
  position: relative;

  span {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 310px;
    white-space: pre-line;
    padding: 10px;
    font-size: 15px;
    background: #c4c4c4;
    border-radius: 10px;
    z-index: 1000;
  }

  &:hover span {
    display: block;
  }
}
