<div class="mesgs">
  <div class="msg_history" #scrollMe [scrollTop]="scrollMe.scrollHeight">
    <div *ngFor="let item of items">
      <div class="incoming_msg" *ngIf="item.senderId !== currentUser._id">
        <div class="incoming_msg_img">
          <img [src]="item.sender?.avatarUrl" alt="sunil">
        </div>
        <div class="received_msg">
          <div class="received_withd_msg">
            <p>{{item.text}}</p>
            <span class="time_date"> {{item.createdAt | date:'short'}}</span>
          </div>
        </div>
      </div>
      <div class="outgoing_msg" *ngIf="item.senderId === currentUser._id">
        <div class="sent_msg">
          <p>{{item.text}}</p>
          <span class="time_date"> {{item.createdAt | date:'short'}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="type_msg">
    <div class="input_msg_write">
      <input type="text" class="write_msg" placeholder="{{'Type a message' | translate}}" [(ngModel)]="newText" name="newmessage" (keypress)="enterToSend($event)" />
      <button class="msg_send_btn" type="button" (click)="send()"><i class="fa
          fa-paper-plane-o" aria-hidden="true"></i></button>
    </div>
  </div>
</div>
