<div class="card" *ngIf="!isLoading">
  <div class="card-body table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>
            <a (click)="sortBy('name', 'desc')">Name&nbsp;</a>
            <span *ngIf="sortOption.sortBy=='name'">
              <a (click)="sortBy('name', 'asc')" *ngIf="sortOption.sortType=='desc'"><i class="fa fa-caret-down"></i></a>
              <a (click)="sortBy('name', 'desc')" *ngIf="sortOption.sortType=='asc'"><i class="fa fa-caret-up"></i></a>
            </span>
          </th>
          <th>
            <a (click)="sortBy('code', 'desc')">Code&nbsp;</a>
            <span *ngIf="sortOption.sortBy=='code'">
              <a (click)="sortBy('code', 'asc')" *ngIf="sortOption.sortType=='desc'"><i class="fa fa-caret-down"></i></a>
              <a (click)="sortBy('code', 'desc')" *ngIf="sortOption.sortType=='asc'"><i class="fa fa-caret-up"></i></a>
            </span>
          </th>
          <th>
            <a (click)="sortBy('discountPercentage', 'desc')">Discount Percentage&nbsp;</a>
            <span *ngIf="sortOption.sortBy=='discountPercentage'">
              <a (click)="sortBy('discountPercentage', 'asc')" *ngIf="sortOption.sortType=='desc'"><i class="fa fa-caret-down"></i></a>
              <a (click)="sortBy('discountPercentage', 'desc')" *ngIf="sortOption.sortType=='asc'"><i class="fa fa-caret-up"></i></a>
            </span>
          </th>
          <th>
            <a (click)="sortBy('limit', 'desc')">Limit&nbsp;</a>
            <span *ngIf="sortOption.sortBy=='limit'">
              <a (click)="sortBy('limit', 'asc')" *ngIf="sortOption.sortType=='desc'"><i class="fa fa-caret-down"></i></a>
              <a (click)="sortBy('limit', 'desc')" *ngIf="sortOption.sortType=='asc'"><i class="fa fa-caret-up"></i></a>
            </span>
          </th>
          <th>
            <a (click)="sortBy('expiredTime', 'desc')">Expired Time&nbsp;</a>
            <span *ngIf="sortOption.sortBy=='expiredTime'">
              <a (click)="sortBy('expiredTime', 'asc')" *ngIf="sortOption.sortType=='desc'"><i class="fa fa-caret-down"></i></a>
              <a (click)="sortBy('expiredTime', 'desc')" *ngIf="sortOption.sortType=='asc'"><i class="fa fa-caret-up"></i></a>
            </span>
          </th>
          <th>
            <a (click)="sortBy('createdAt', 'desc')">Created At&nbsp;</a>
            <span *ngIf="sortOption.sortBy=='createdAt'">
              <a (click)="sortBy('createdAt', 'asc')" *ngIf="sortOption.sortType=='desc'"><i class="fa fa-caret-down"></i></a>
              <a (click)="sortBy('createdAt', 'desc')" *ngIf="sortOption.sortType=='asc'"><i class="fa fa-caret-up"></i></a>
            </span>
          </th>
          <th>Action</th>
        </tr>
        <tr>
          <th>
            <div class="input-group">
              <input class="form-control" [(ngModel)]="searchText" placeholder="search..." (keypress)="keyPress($event)" />
              <div class="input-group-append">
                <button class="btn btn-outline-secondary fa fa-search" (click)="query()" type="button"></button>
              </div>
            </div>
          </th>
          <th colspan="6">
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="!total">
          <td colspan="7">
            <p class="text-center text-danger">There is no items yet..</p>
          </td>
        </tr>
        <tr *ngFor="let item of coupons, let i = index">
          <td>
            <a [routerLink]="['/coupons/update', item._id ]">
              {{item?.name}}
            </a>
          </td>
          <td><span class="badge badge-warning">{{item?.code}}</span></td>
          <td>{{item?.discountPercentage}}%</td>
          <td *ngIf="item.limit !== 0">{{item?.limit}}</td>
          <td *ngIf="item.limit === 0">
            <span class="badge badge-danger">Unlimited</span>
          </td>
          <td>{{item.expiredTime |date:'short'}}</td>
          <td>
            <span>{{item.createdAt | date:'short'}}</span>
          </td>
          <td>
            <a [routerLink]="['/coupons/update', item._id ]"><i class="fa fa-pencil"></i></a>
            <a (click)="remove(item?._id, i)"><i class="fa fa-trash"></i></a>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="display-inline" [hidden]="total < take">
      <div class="pull-right">
        <ngb-pagination [collectionSize]="total" [(page)]="page" [maxSize]="5" [pageSize]="take" (pageChange)="query()"></ngb-pagination>
      </div>
    </div>
  </div>
</div>
