<div class="modal-header">
  <h4 class="modal-title" translate>Please tell us a reason for unPublish</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form #frm="ngForm" (submit)="submit(frm)">
    <div class="form-group">
      <textarea rows="3" class="form-control" name="text" placeholder="Write a reason" [(ngModel)]="message.text" #text="ngModel" required></textarea>
      <div *ngIf="text.errors && (text.dirty || text.touched || submitted )">
        <p [hidden]="!text.errors.required" class="error" translate>
          Reason is required
        </p>
      </div>
    </div>
    <div class="form-group">
      <button class="btn btn-success" type="submit" translate>Send</button>&nbsp;
      <button class="btn btn-warning" (click)="activeModal.close('Cancel')" translate type="button">Cancel</button>
    </div>
  </form>
</div>