<div class="container">
  <div class="card card-body">
    <div class="text-center">
      <h1 class="display-3" translate>Thank you!</h1>
      <p class="lead" translate>Your account has been upgrade successfully</p>
      <hr>
      <p class="lead">
        <a class="btn btn-primary btn-sm" href="/payments/upgrade" role="button" translate>Continue upgrade</a>
        &nbsp;&nbsp;&nbsp;
        <a class="btn btn-primary btn-sm" href="/starter" role="button" translate>Go to Dashboard</a>
      </p>
    </div>
  </div>
</div>
